@font-face {
  font-family: 'PFDinTextUniversal';
  src: url('../fonts/PFDinTextUniversal-Hairline.eot');
  src: local('PFDinTextUniversal Hairline'), local('PFDinTextUniversal-Hairline'),
  url('../fonts/PFDinTextUniversal-Hairline.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextUniversal-Hairline.woff2') format('woff2'),
  url('../fonts/PFDinTextUniversal-Hairline.woff') format('woff'),
  url('../fonts/PFDinTextUniversal-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextUniversal';
  src: url('../fonts/PFDinTextUniversal-Medium.eot');
  src: local('PFDinTextUniversal Medium'), local('PFDinTextUniversal-Medium'),
  url('../fonts/PFDinTextUniversal-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextUniversal-Medium.woff2') format('woff2'),
  url('../fonts/PFDinTextUniversal-Medium.woff') format('woff'),
  url('../fonts/PFDinTextUniversal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextUniversal';
  src: url('../fonts/PFDinTextUniversal-ExtraThin.eot');
  src: local('PFDinTextUniversal ExtraThin'), local('PFDinTextUniversal-ExtraThin'),
  url('../fonts/PFDinTextUniversal-ExtraThin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextUniversal-ExtraThin.woff2') format('woff2'),
  url('../fonts/PFDinTextUniversal-ExtraThin.woff') format('woff'),
  url('../fonts/PFDinTextUniversal-ExtraThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextUniversal';
  src: url('../fonts/PFDinTextUniversal-Light.eot');
  src: local('PFDinTextUniversal Light'), local('PFDinTextUniversal-Light'),
  url('../fonts/PFDinTextUniversal-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextUniversal-Light.woff2') format('woff2'),
  url('../fonts/PFDinTextUniversal-Light.woff') format('woff'),
  url('../fonts/PFDinTextUniversal-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextUniversal';
  src: url('../fonts/PFDinTextUniversal.eot');
  src: local('PFDinTextUniversal'), local('PFDinTextUniversal'),
  url('../fonts/PFDinTextUniversal.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextUniversal.woff2') format('woff2'),
  url('../fonts/PFDinTextUniversal.woff') format('woff'),
  url('../fonts/PFDinTextUniversal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextUniversal';
  src: url('../fonts/PFDinTextUniversal-ExtraBlack.eot');
  src: local('PFDinTextUniversal ExtraBlack'), local('PFDinTextUniversal-ExtraBlack'),
  url('../fonts/PFDinTextUniversal-ExtraBlack.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextUniversal-ExtraBlack.woff2') format('woff2'),
  url('../fonts/PFDinTextUniversal-ExtraBlack.woff') format('woff'),
  url('../fonts/PFDinTextUniversal-ExtraBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextUniversal';
  src: url('../fonts/PFDinTextUniversal-Thin.eot');
  src: local('PFDinTextUniversal Thin'), local('PFDinTextUniversal-Thin'),
  url('../fonts/PFDinTextUniversal-Thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextUniversal-Thin.woff2') format('woff2'),
  url('../fonts/PFDinTextUniversal-Thin.woff') format('woff'),
  url('../fonts/PFDinTextUniversal-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PFDinTextUniversal';
  src: url('../fonts/PFDinTextUniversal-Bold.eot');
  src: local('PFDinTextUniversal Bold'), local('PFDinTextUniversal-Bold'),
  url('../fonts/PFDinTextUniversal-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PFDinTextUniversal-Bold.woff2') format('woff2'),
  url('../fonts/PFDinTextUniversal-Bold.woff') format('woff'),
  url('../fonts/PFDinTextUniversal-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

