footer
	.footer
		.footer__inner
			.footer__content
				.footer__column
					.footer__subtitle Компанія
					.footer__list
						a(href="#").footer__link Історія компанії
						a(href="#").footer__link Наше виробництво
						a(href="#").footer__link Партнери
						a(href="#").footer__link Франчайзинг
						a(href="#").footer__link Новини
				.footer__column
					.footer__subtitle Продукція
					.footer__list
						a(href="#").footer__link Історія компанії
						a(href="#").footer__link Наше виробництво
						a(href="#").footer__link Партнери
						a(href="#").footer__link Франчайзинг
						a(href="#").footer__link Новини
				.footer__column
					.footer__subtitle Інформація
					.footer__list
						a(href="#").footer__link Історія компанії
						a(href="#").footer__link Наше виробництво
						a(href="#").footer__link Партнери
						a(href="#").footer__link Франчайзинг
						a(href="#").footer__link Новини
				.footer__column.footer__column--width
					.footer__subtitle Контакти
					.footer__list
						a(href="tel:+380970330009").footer__link Тел: +38 (097) 033-00-03
						a(href="tel+380384936670").footer__link Факс: +38 (03849) 3-66-70
						a(href="javascript:void(0);").footer__link Адрес: 32300, Україна, м. Кам'янець-Подільський, <br>
							| вул. Князів Коріатовичів, 21
						a(href="mailto:q@viknoplus.ua").footer__link E-mail: @viknoplus.ua

		.footer__bottom
			.footer__bottom-inner
				.footer__bottom-logo
					a(href="/").footer__logo-link
						img(src="./img/home/logo-white.png" alt="img")

				.footer__bottom-txt
					| Офіційний сайт компанії ТМ «ВікноПлюс» <br>
					| © 1997-2020 ВікноПлюс. Всі права захищені, копіювання будь-якої інформації заборонено


.popup.wtb
	.popup__body
		.popup__inner
			.popup__close
				.popup__close-ico
			.popup__content.wtb__content
				.site-title-hr Мережа продажів
				.wtb__form-wrap
					form(action="#").wtb__form.search-form__form
						button(type="submit").search-form__btn
						input(placeholder="Оберіть місто або адресу" type="text").search-form__input
				.wtb__btn
					a(href="#").site-btn.site-btn--black.wtb__btn-i
						span Моє місцезнаходження

				.wtb__space
					.wtb__space-tabs
						.wtb__space-tab
							a(href="javascript:void(0);" data-wtb-tab="1").wtb__space-tab-i.active Україна
						.wtb__space-tab
							a(href="javascript:void(0);" data-wtb-tab="2").wtb__space-tab-i Інші країни
					.wtb__space-content
						.wtb__space-item(data-wtb-content="1").active
							ul
								li
									a(href="#") City
								li
									a(href="#") City
								li
									a(href="#") City
								li
									a(href="#") City
								li
									a(href="#") City
								li
									a(href="#") City
								li
									a(href="#") City
								li
									a(href="#") City
								li
									a(href="#") City
								li
									a(href="#") City
								li
									a(href="#") City
								li
									a(href="#") City
								li
									a(href="#") City
						.wtb__space-item(data-wtb-content="2")
							ul
								li
									a(href="#") City 2
								li
									a(href="#") City 2
								li
									a(href="#") City 2
								li
									a(href="#") City 2
								li
									a(href="#") City 2
								li
									a(href="#") City 2
								li
									a(href="#") City 2
								li
									a(href="#") City 2
								li
									a(href="#") City 2
								li
									a(href="#") City 2
								li
									a(href="#") City 2
								li
									a(href="#") City 2
								li
									a(href="#") City 2


//.popup.about-video-popup
//	.popup__body
//		.popup__inner
//			.popup__close
//				.popup__close-ico.popup__close-ico--revers
//			.popup__content.about-video-popup__content
//				iframe(width="560" height="315" src="https://www.youtube.com/embed/w2VdIXp5APk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)



.popup.advice
	.popup__body
		.popup__inner
			.popup__close
				.popup__close-ico.popup__close-ico--revers
			.popup__content.wtb__content
				.request-block__inner
					form(action="#").request-block__from
						.request-block__title
							span.request-block__title-main Залишити заявку
							span.request-block__title-txt Залиште заявку і наш менеджер зв'яжеться з вами найближчим часом
						.request-block__row
							.site-input
								input(type="text" id="requestFormName3" data-valid="name")
								label(for="requestFormName3")
									span Ім'я*
						.request-block__row
							.site-input
								input(type="tel" id="requestFormPhone3")
								label(for="requestFormPhone3")
									span Телефон*
						.request-block__row
							.site-input
								input(type="email" id="requestFormEmail3")
								label(for="requestFormEmail3")
									span E-mail*

						.request-block__btn
							a(href="javascript:void(0);").submit-btn.site-btn.request-block__btn-i Відправити заявку



.popup.window-popup
	.popup__body
		.popup__inner
			.popup__close
				.popup__close-ico
			.popup__content.wtb__content
				.site-title-hr Мережа продажів
				.window-popup__content
					.window-popup__left
						.window-popup__img
							img(src="./img/window/pop-img.png")
					.window-popup__right
						.window-popup__btn
							a(href="#").site-btn.window-popup__btn-i Скачати pdf
							a(href="#").site-btn.window-popup__btn-i IGLO Energy
						.window-popup__accord
							.window-popup__accord-i.active
								.window-popup__accord-title Glass
								.window-popup__accord-txt Час не стоїть на місці, як і не стоїть на місці прогрес. Для тих, хто звик випереджати час, задавати вектор першості, бути лідером в інноваціях, ми пропонуємо абсолютно інноваційний продукт - VEKA Revolution.

							.window-popup__accord-i
								.window-popup__accord-title Profile
								.window-popup__accord-txt Час не стоїть на місці, як і не стоїть на місці прогрес. Для тих, хто звик випереджати час, задавати вектор першості, бути лідером в інноваціях, ми пропонуємо абсолютно інноваційний продукт - VEKA Revolution.

							.window-popup__accord-i
								.window-popup__accord-title Spacer frame
								.window-popup__accord-txt Час не стоїть на місці, як і не стоїть на місці прогрес. Для тих, хто звик випереджати час, задавати вектор першості, бути лідером в інноваціях, ми пропонуємо абсолютно інноваційний продукт - VEKA Revolution.

							.window-popup__accord-i
								.window-popup__accord-title Fittings
								.window-popup__accord-txt Час не стоїть на місці, як і не стоїть на місці прогрес. Для тих, хто звик випереджати час, задавати вектор першості, бути лідером в інноваціях, ми пропонуємо абсолютно інноваційний продукт - VEKA Revolution.

							.window-popup__accord-i
								.window-popup__accord-title Reinforcement
								.window-popup__accord-txt Час не стоїть на місці, як і не стоїть на місці прогрес. Для тих, хто звик випереджати час, задавати вектор першості, бути лідером в інноваціях, ми пропонуємо абсолютно інноваційний продукт - VEKA Revolution.

							.window-popup__accord-i
								.window-popup__accord-title Gaskets
								.window-popup__accord-txt Час не стоїть на місці, як і не стоїть на місці прогрес. Для тих, хто звик випереджати час, задавати вектор першості, бути лідером в інноваціях, ми пропонуємо абсолютно інноваційний продукт - VEKA Revolution.

							.window-popup__accord-i
								.window-popup__accord-title Colour range
								.window-popup__accord-txt Час не стоїть на місці, як і не стоїть на місці прогрес. Для тих, хто звик випереджати час, задавати вектор першості, бути лідером в інноваціях, ми пропонуємо абсолютно інноваційний продукт - VEKA Revolution.

							.window-popup__accord-i
								.window-popup__accord-title Sound insulation
								.window-popup__accord-txt Час не стоїть на місці, як і не стоїть на місці прогрес. Для тих, хто звик випереджати час, задавати вектор першості, бути лідером в інноваціях, ми пропонуємо абсолютно інноваційний продукт - VEKA Revolution.

							.window-popup__accord-i
								.window-popup__accord-title Thermal insulation
								.window-popup__accord-txt Час не стоїть на місці, як і не стоїть на місці прогрес. Для тих, хто звик випереджати час, задавати вектор першості, бути лідером в інноваціях, ми пропонуємо абсолютно інноваційний продукт - VEKA Revolution.
