extends _layout

block vars
	- var pageTitle = "news list page";
	- var pageClass = "newslistpage";

block content
	div.main-wrap
		section
			.site-top
				.site-top__inner(style="background-image: url('./img/news/news-top-bg.png');")
					.site-title-hr.site-title-hr--white Новини компанії
					.site-top__txt Інноваційна профільна система для тих, хто звик випереджати час

		section
			.news-block
				.news-block__inner
					.news-block__nav
						.news-block__list
							.news-block__item
								a(href="").news-block__link Новини
							.news-block__item
								a(href="").news-block__link.active Статтi
							.news-block__item
								a(href="").news-block__link Як вибрати вiкна
							.news-block__item
								a(href="").news-block__link Новини партнерiв
							.news-block__item
								a(href="").news-block__link Кориснi поради
							.news-block__item
								a(href="").news-block__link Партнерам

					.news-block__content
						.news-block__head
							.news-block__head-title
								.site-title Останні новини нашої компанії
							.news-block__head-pagin
								.pagination
									a(href="").pagination__link
										span.pagination__ico
									.pagination__count 01 / 04
									a(href="").pagination__link
										span.pagination__ico

						.news
							.news__list
								.news__item
									.news__item-content
										.news__img
											img(src="./img/news/news-img.png" alt="img").news__img-i
											a(href="#").news__img-link
												span Easy door – новий доступний продукт. Виготовлений на базі профілю VEKA Euroline T100, та фурнітурою середнього класу, від європейських виробників. Ціна: 5.000* грн!
										.last-news__bottom-date.news__date 5.05.2020
										a(href="#").news__name Как правильно выбрать металлопластиковые окна — 10 главных правил
										.news__more-detail
											a(href="#").more-detail.news__more-detail-i Докладніше
								.news__item
									.news__item-content
										.news__img
											img(src="./img/news/news-img.png" alt="img").news__img-i
											a(href="#").news__img-link
												span Easy door – новий доступний продукт. Виготовлений на базі профілю VEKA Euroline T100, та фурнітурою середнього класу, від європейських виробників. Ціна: 5.000* грн!
										.last-news__bottom-date.news__date 5.05.2020
										a(href="#").news__name Как правильно выбрать металлопластиковые окна — 10 главных правил
										.news__more-detail
											a(href="#").more-detail.news__more-detail-i Докладніше
								.news__item
									.news__item-content
										.news__img
											img(src="./img/news/news-img.png" alt="img").news__img-i
											a(href="#").news__img-link
												span Easy door – новий доступний продукт. Виготовлений на базі профілю VEKA Euroline T100, та фурнітурою середнього класу, від європейських виробників. Ціна: 5.000* грн!
										.last-news__bottom-date.news__date 5.05.2020
										a(href="#").news__name Как правильно выбрать металлопластиковые окна — 10 главных правил
										.news__more-detail
											a(href="#").more-detail.news__more-detail-i Докладніше
								.news__item
									.news__item-content
										.news__img
											img(src="./img/news/news-img.png" alt="img").news__img-i
											a(href="#").news__img-link
												span Easy door – новий доступний продукт. Виготовлений на базі профілю VEKA Euroline T100, та фурнітурою середнього класу, від європейських виробників. Ціна: 5.000* грн!
										.last-news__bottom-date.news__date 5.05.2020
										a(href="#").news__name Как правильно выбрать металлопластиковые окна — 10 главных правил
										.news__more-detail
											a(href="#").more-detail.news__more-detail-i Докладніше
								.news__item
									.news__item-content
										.news__img
											img(src="./img/news/news-img.png" alt="img").news__img-i
											a(href="#").news__img-link
												span Easy door – новий доступний продукт. Виготовлений на базі профілю VEKA Euroline T100, та фурнітурою середнього класу, від європейських виробників. Ціна: 5.000* грн!
										.last-news__bottom-date.news__date 5.05.2020
										a(href="#").news__name Как правильно выбрать металлопластиковые окна — 10 главных правил
										.news__more-detail
											a(href="#").more-detail.news__more-detail-i Докладніше
								.news__item
									.news__item-content
										.news__img
											img(src="./img/news/news-img.png" alt="img").news__img-i
											a(href="#").news__img-link
												span Easy door – новий доступний продукт. Виготовлений на базі профілю VEKA Euroline T100, та фурнітурою середнього класу, від європейських виробників. Ціна: 5.000* грн!
										.last-news__bottom-date.news__date 5.05.2020
										a(href="#").news__name Как правильно выбрать металлопластиковые окна — 10 главных правил
										.news__more-detail
											a(href="#").more-detail.news__more-detail-i Докладніше
								.news__item
									.news__item-content
										.news__img
											img(src="./img/news/news-img.png" alt="img").news__img-i
											a(href="#").news__img-link
												span Easy door – новий доступний продукт. Виготовлений на базі профілю VEKA Euroline T100, та фурнітурою середнього класу, від європейських виробників. Ціна: 5.000* грн!
										.last-news__bottom-date.news__date 5.05.2020
										a(href="#").news__name Как правильно выбрать металлопластиковые окна — 10 главных правил
										.news__more-detail
											a(href="#").more-detail.news__more-detail-i Докладніше
								.news__item
									.news__item-content
										.news__img
											img(src="./img/news/news-img.png" alt="img").news__img-i
											a(href="#").news__img-link
												span Easy door – новий доступний продукт. Виготовлений на базі профілю VEKA Euroline T100, та фурнітурою середнього класу, від європейських виробників. Ціна: 5.000* грн!
										.last-news__bottom-date.news__date 5.05.2020
										a(href="#").news__name Как правильно выбрать металлопластиковые окна — 10 главных правил
										.news__more-detail
											a(href="#").more-detail.news__more-detail-i Докладніше
								.news__item
									.news__item-content
										.news__img
											img(src="./img/news/news-img.png" alt="img").news__img-i
											a(href="#").news__img-link
												span Easy door – новий доступний продукт. Виготовлений на базі профілю VEKA Euroline T100, та фурнітурою середнього класу, від європейських виробників. Ціна: 5.000* грн!
										.last-news__bottom-date.news__date 5.05.2020
										a(href="#").news__name Как правильно выбрать металлопластиковые окна — 10 главных правил
										.news__more-detail
											a(href="#").more-detail.news__more-detail-i Докладніше

		section
			.double-block
				.double-block__inner
					.subscribe
						.double-block__item
							.subscribe__inner
								.subscribe__content
									.subscribe__title пІдписатись на останнІ новини
									.subscribe__txt Залиште заявку і наш менеджер зв'яжеться з вами найближчим часом
									form(action="javascript:void(0);").subscribe__form
										.site-input
											input(type="email" id="subskribeFormEmail2")
											label(for="subskribeFormEmail2")
												span E-mail*

										.subscribe__btn
											a(href="#").submit-btn.site-btn.subscribe__btn-i Підписатися

					.subscribe-img
						.subscribe-img--i(style="background-image: url('./img/news/sub-bg.png')")





